/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/* --------------- */

.top {
	background-color: aliceblue;
}

.history {
	background-color: cornsilk	;
}

.phase {
	background-color:rgb(234, 193, 255);
}


.top h1.title {
	font-size: 40px;
}

h2 {
	font-size: 30px;
	color: red;
}

h3 {
	font-size: 20px;
}
